node_modules
dist
dist-ssr
.git
.gitignore
.env
.env.*
!.env.example
*.log
npm-debug.log*
bun.lockb
bun.lock
.vscode
.idea
.DS_Store
README.md
supabase
playwright.config.ts
playwright-fixture.ts
vitest.config.ts
src/test
e2e
Dockerfile
.dockerignore
docker-compose.yml
